# Basics of Python

## Part 1: Getting Started

Statements can be printed in Python using the **print( )** function. Use this function or command to print the following:
    1. "My name is <your name>"
    2. "It is 35 degrees outside"
    3. 85
    4. "85"
    5. 85.0
    6. 3.5

In [1]:
print("My name is Shirlei")

My name is Shirlei

In [2]:
print("It is 35 degrees outside")

It is 35 degrees outside

In [3]:
print(85)

85

In [4]:
print("85")

85

In [5]:
print(85.0)

85.0

In [6]:
print (3.5)

3.5

Data need to be stored before being used for computation. Programming languages provide **variables** to store data. 
    1. Define three variables a, b and c. 
    2. Initialise them with the values of 35, 46.5 and "hello world" respectively.
    3. What is the data type of each variable?
    4. Use the "type" function to find out the data type.
    5. Can you tell the difference between (3) (4) and (5) in the previous task in Part 1?

In [7]:
a,b,c=35,46.5,'hello world'

In [8]:
a

35

In [9]:
b

46.5

In [10]:
c

'hello world'

In [11]:
type (a)

int

In [12]:
type (b)

float

In [13]:
type (c)

str

3 is int (a number); 4 is str; 5 is float

## Part 2: Arithmetic Operators

Without running these commands, state the output of the following statements. 
(Assume that **a = 10**, **b = 5**, **c = 5.5**, **d = 3**)
    1. a + 2 * b
    2. b - 4 / a
    3. a / b
    4. a // b
    5. 1 / 2
    6. 1 // 2
    7. 1 % 2
    8. a ** d
    9. a / b + 5 - 5.5 * c
    10. a**2 + 2 - c // 5 * 2
    11. (a + b) * 3 / d + (4 - d)
    12. 2 * ( a * 2 / a)

In [14]:
a,b,c,d=10,5,5.5,3

In [15]:
a,b,c,d=10,5,5.5,3
a+2*b
b-4/a
a / b
a // b
1 / 2
1 // 2
1 % 2
a ** d
a / b + 5 - 5.5 * c
a**2 + 2 - c // 5 * 2
(a + b) * 3 / d + (4 - d)
2 * ( a * 2 / a)

4.0

Now run the commands and print the output. 
What is the difference between (3) and (4)? What is the **operator precedence** in Python?

In [16]:
type(a / b)

float

In [17]:
type(a // b)

int

## Part 3: String Operations and Typecasting

1. Define two string variables and initialise them with "abc" and "xyz".
2. Concatenate the two variables and store them in another variable.
3. Determine the length of this variable using **len( )** function.
4. Find the number of occurrence of the letter 'o' in "OOOooofffforossseroO" using **count( )** function.

In [18]:
variable1="abc"
variable2="xyz"
variable3=variable1+variable2
print(variable3)
print(len(variable3))
variable4="OOOooofffforossseroO"
print(len(variable4))
print(variable4.count('o'))

abcxyz
6
20
6

What is _wrong_ with the following block of code? Run this code to find out the error.

    a = "He got "
    b = 35
    c = "marks in the test"
    d = a + b + c
    print(d)

String operators can only work on variables of string type. Therefore all variables need to be converted to string before the operation can be applied to them. Variables can be converted from one type to another using _typecasting_. Anything can be typecasted to string by using the **str( )** operator. 
Now use this operator to fix the error above.

In [19]:
a = "He got "
b = 35
c = " marks in the test"
d = a + b + c
print(d)

TypeError: can only concatenate str (not "int") to str

In [20]:
a = "He got "
b = 35
c = " marks in the test"
d = a + str(b) + c
print(d)

He got 35 marks in the test

## Part 4: Relational and Logical Operators

Without running these commands, state whether these statements would be **True** or **False**. 
    1. 12 > 13 - False
    2. 12 > 12 - False
    3. 12 >= 12 - True
    4. 12 < 12 - False
    5. 12 <= 12 - True
    6. 12 < 13 - True
    7. 12 == 12 - True
    8. 12.0 == 12 - True
    9. 13.5 >= 13 - False
    10. 23.4 > 22.8 - True
Now use the **print( )** function to see the output.

In [21]:
print(12 > 13)
print(12 > 12)
print(12 >= 12)
print(12 < 12)
print(12 <= 12)
print(12 < 13)
print(12 == 12)
print(12.0 == 12)
print(13.5 >= 13)
print(23.4 > 22.8)

False
False
True
False
True
True
True
True
True
True

Again without running these commands state whether the statemnts are **True** or **False** and then run the commands to see the output.
    1. 12 < 13 and 1 > 2 - False
    2. 12 < 13 or 1 > 2 - True
    3. 12 < 13 and 14 > 5 or 16 == 15 - True
    4. 12 < 13 and 14 > 5 and 16 == 15 - False

In [22]:
print(12 < 13 and 1 > 2)
print(12 < 13 or 1 > 2)
print(12 < 13 and 14 > 5 or 16 == 15)
print(12 < 13 and 14 > 5 and 16 == 15)

False
True
True
False